<!DOCTYPE html>
<html lang="pt-BR">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CARDÁPIO | CupCakePop</title>

    <meta name="description" content="Trabalho da matéria de Dev Web da Faculdade Unimetrocamp">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

      <div class="container">

      <div class="text-center">
        <p class="text fs-2 fw-bolder pt-3">Cardápio</p>
        <p class="fs-5 fw-normal">Experimente os deliciosos sabores!</p>
        <div class="fs-5">

<!-- CARDÁPIO -->
<div class="row row-cols-2 row-cols-md-3 g-4 pt-4">
  <div class="col" *ngFor="let item of cardapioItems">
    <div class="card c-cardapio">
      <img
        [src]="item.image"
        class="card-img-top cardapio"
        alt="{{ item.title }}"
        (click)="expandImage(item.image)">
      <div class="card-body text-center">
        <p class="card-title">{{ item.title }}</p>
        <p class="card-text fs-6">{{ item.description }}</p>
      </div>
      <div class="card-text preco fs-5 fw-bold">
        <p>{{ item.price }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal para exibir a imagem ampliada -->
<div class="modal" [ngClass]="{'show-modal': showModal}" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close-btn" (click)="closeModal()">&times;</span>
    <img [src]="selectedImage" alt="Imagem ampliada" class="modal-img">
  </div>
</div>

    <!-- Copyright -->
  <div class="text-center footer">
    <p class="fs-4 pt-4"></p>
    © 2024 Copyright: CupCakePop
    <p class="fs-4 pt-1"></p>
</div>
<!-- Copyright -->
