  <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
    <div class="container-fluid">
      <a class="navbar-brand" id="cupcakepop" href="#">CupCakePop</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-2">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/bem-vindo']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Bem-Vindo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cardapio']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Cardápio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/sobre-nos']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Sobre Nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cadastro']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Cadastro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
