/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons.css";
/* @import '~ngx-toastr/toastr'; */

@media screen and (max-width: 1025px) {
  /* Here are some changes*/
}

/* Mobile device styles */
@media screen and (max-width: 480px) {
      /* Here are some changes*/
}

/* Estilos globais */
.body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color:#8B4513;
}

/* Responsividade simples usando Flexbox */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background: linear-gradient(to bottom,rgb(255, 255, 255, 0.9),rgb(255, 222, 173, 0.9));
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  color:#8B4513;
}

.container-fluid {
  background: linear-gradient(to bottom,rgb(255, 255, 255, 0.5),rgb(255, 222, 173, 0.5));
}

.navbar {
  font-weight: bold;
  letter-spacing: 0.05em;
}

#cupcakepop {
  color: #EC8576; /* Defina a cor que quiser */
  font-weight: bold;
  margin-right: 2rem;
  margin-left: 1rem;
}

.footer {
  margin-top: auto; /* Empurra o footer para o fim */
  color: #8B4513;
  font-size: 15px;
}

h1.title {
  font-size: 2rem;
  text-align: center;
}

h1, p {
  color: #8B4513; /* Marrom */
}

.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border-radius: 2rem;
  background: linear-gradient(to bottom,rgb(255, 222, 173, 0.6),rgb(255, 255, 255, 0.6));
}


.card:hover {
  transform: translateY(-10px); /* Efeito de hover para destacar os cards */
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #8B4513;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1rem;
  color:#8B4513;
}

