.container {
  padding-left: 4rem;
  padding-right: 4rem;
  font-family: 'Poppins', sans-serif;
  color:#8B4513;
}

.logotipo-container {
    margin-top: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 100%;
}

.logotipo {
  max-width: 320px; /* Ajuste o tamanho do logo conforme necessário */
  filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.2)); /* Sombra do logo */
}

.logotipo-text-center {
  font-size: 50px; /* Tamanho do texto */
  color: #EC8576; /* Cor do texto */
  font-weight: bold; /* Deixe o texto em negrito, se preferir */
  text-align: center;
  white-space: nowrap; /* Evita que o texto quebre a linha */
}

.static-image {
  height: 100%;
  width: 100%; /* Ajuste de acordo com o tamanho desejado */
  padding: 2rem;
  border-radius: 2rem;
  margin-top: -2rem;
  object-fit: cover;
}

/* Imagens fluidas para não estourar a tela */
.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.carousel-container {
  position: center;
  width: 100%; /* Ajuste de acordo com o tamanho desejado */
  margin: 0; /* Centraliza o carrossel */
  overflow-x: scroll; /* Esconde as imagens que estão fora da área visível */
  display: flex;
}

/* Faixa que mantém todas as imagens */
.carousel-track {
  display: flex;
  transition: transform 1s ease-in-out; /* Animação suave ao deslizar */
   /* Para garantir que todas as imagens caibam, considerando 6 imagens no total */
}

/* Estilização de cada imagem */
.carousel-img {
  width: calc(100% / 2); /* Para mostrar 3 imagens ao mesmo tempo */
  max-width: 100%;
  height: 100%; /* Altura das imagens */
  object-fit: cover; /* Para manter a proporção das imagens */
  padding: 2px;
  border-radius: 1rem;
}

.carousel-control-prev, .carousel-control-next {
  width:30px; /* Define a largura fixa */
  height: 30px; /* Define a altura fixa */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  border-radius: 50%; /* Deixa os botões redondos */
  display: flex;
  justify-content: center; /* Alinha o ícone horizontalmente */
  align-items: center; /* Alinha o ícone verticalmente */
  color: white; /* Cor do ícone */
  font-size: 20px; /* Tamanho do ícone */
  position: absolute; /* Garante que os botões fiquem na posição correta */
  top: 80%; /* Centraliza verticalmente */
  transform: translateY(90%); /* Ajusta para o centro */
  z-index: 100; /* Certifica que os botões fiquem acima do conteúdo */
}

/* Estiliza o ícone para não se expandir */
.carousel-control-prev-icon, .carousel-control-next-icon {
  font-size: 10px; /* Mantém o ícone consistente */
}

/* Especifica a posição de cada botão */
.carousel-control-prev {
  left: 20px; /* Alinha o botão 'prev' à esquerda */
}

.carousel-control-next {
  right: 20px; /* Alinha o botão 'next' à direita */
}

/* Estilos para o modal */
.modal {
  display: none; /* Inicialmente escondido */
  position: fixed;
  z-index: 999; /* Garantir que fique sobre outros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro semi-transparente */
  justify-content: center;
  align-items: center;
}

/* Quando o modal estiver ativo */
.show-modal {
  display: flex; /* Exibir o modal e centralizar conteúdo */
}

/* Conteúdo do modal */
.modal-content {
  position: relative;
  max-width: 600px;
  max-height: 400px;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botão para fechar o modal */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #acacac;
  cursor: pointer;
  z-index: 1000;
}

/* Estilo da imagem no modal */
.modal-img {
  max-width: 100%;
  max-height: 100%;
  width: 600px;
  height: 400px;
  object-fit: contain; /* Garante que a imagem se ajuste corretamente sem distorcer */
}

/* Imagens fluidas para não estourar a tela */
.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.carousel-img {
  max-width: 88%;
  height: 88%;
  margin: 5px;
}

/* Cards ajustáveis */
.card {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
}

/* Footer centralizado e ajustado */
/* .footer {
  font-size: 14px;
  padding: 20px 0;
} */

/* Ajustes de responsividade para telas pequenas */
@media (max-width: 768px) {
  .row {
      flex-direction: column;
  }

  .col {
      width: 100%;
      margin-bottom: 20px;
  }
}
