<!-- Sobre Nós -->
<div class="container">
  <div class="text-center">
    <p class="text fs-2 fw-bolder pt-3">Sobre Nós</p>
    <p class="fs-5 fw-normal">Desenvolvedores do Projeto</p>
    <p class="fs-4 pt-1"></p>
    <p class="fs-8 pt-1"></p>
    <div class="fs-5">

    <!-- Cards de Membros -->
    <div class="row row-cols-1 row-cols-md-3 g-4 pb-4">
      <div class="col d_membro" *ngFor="let membro of membros">
        <div class="card h-100 d-inline-block" (click)="openModal(membro.img)">
          <div class="card-body text-center">
          <img [src]="membro.img" class="card-img-top membros rounded-circle mx-auto mt-3" alt="{{membro.nome}}">
          <div class="card-body">
            <p class="card-title fs-5">{{membro.nome}}</p>
          </div>
          <p class="card-text fs-6">{{membro.curso}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para exibir a imagem ampliada -->
  <div class="modal" [ngClass]="{'show-modal': showModal}" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close-btn" (click)="closeModal()">&times;</span>
      <img [src]="selectedImage" alt="Imagem ampliada" class="modal-img">
    </div>
  </div>


  <!-- Copyright -->
  <div class="text-center footer">
    <p class="fs-4 pt-1"></p>
    © 2024 Copyright: CupCakePop
    <p class="fs-4 pt-1"></p>
</div>
<!-- Copyright -->
